<%- include("partials/top", { title }) %>

<section class="card narrow">
  <h1><%= t(title) %></h1>
  <p><%= t(message) %></p>
  <a class="btn" href="/">Wróć na stronę główną</a>
</section>

<%- include("partials/bottom") %>
